@import "assets/css/variables.scss";

.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primary-color;
  padding: 17px 80px;

  &-block {
    display: flex;
    align-items: center;
  }

  &-text {
    font-size: 18px;
  }

  &-link {
    opacity: 0.8;
  }

  &-link:hover {
    opacity: 1;
  }

  &-info {
    color: #ededed !important;
  }
}

@media (max-width: 1300px) {
  .top-header {
    display: none;
  }
}
