@import "assets/css/variables.scss";

.profile {
  padding: 80px 80px 120px;

  &__title {
    font-family: "Inter";
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    color: $primary-color;
    margin-bottom: 55px;
  }

  &__nav {
    background-color: #eeeeee;
    border-radius: 16px;
    padding: 24px 16px;
    width: 292px;
    margin-right: 60px;

    &-item {
      background: #ffffff;
      border-radius: 16px;
      height: 47px;
      padding: 0 25px;
      display: flex;
      align-items: center;
      width: 100%;
      cursor: pointer;

      &-active {
        background: rgba(247, 92, 3, 0.14);
      }

      &:hover {
        background: rgba(247, 92, 3, 0.14);
      }
    }

    &-text {
      font-family: "Inter";
      font-weight: 500;
      font-size: 14px;
      line-height: 109.4%;
      color: #35313f;
    }
  }

  &__main {
    padding: 40px 50px;
    background-color: #eeeeee;
    border-radius: 16px;
    width: calc(100% - 360px);

    &-title {
      font-family: "Inter";
      font-weight: 600;
      font-size: 30px;
      line-height: 36px;
      text-align: center;
      color: $primary-color;
      margin-bottom: 17px;
    }

    &-subtitle {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 157.4%;
      /* or 25px */
      text-align: center;
      color: #797979;

      & span {
        color: $primary-color;
      }
    }

    &-name {
      font-family: "Inter";
      font-weight: 500;
      font-size: 22px;
      line-height: 27px;
      color: $secondary-color;

      span {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #75797f;
      }
    }

    &-addPacket {
      padding: 10px 25px;
      border: 1px dashed $primary-color;
      filter: drop-shadow(0px 10px 15px rgba(1, 115, 153, 0.2));
      border-radius: 16px;
      background: transparent;
      font-family: "Inter";
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #0e6ba8;
      margin-bottom: 40px;
    }
  }
}

.modal {
  position: absolute;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: rgba(34, 31, 31, 0.51);
  display: block;
  padding: 0 20px;

  &__block {
    margin: 250px auto 0;
    max-width: 700px;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 150px 0 60px;
    position: relative;

    &-exit {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
    }

    button {
      height: 48px;
      margin: 0 20px;
      max-width: 240px;
      width: 100%;
    }

    &-title {
      font-family: "Inter";
      font-weight: 600;
      font-size: 32px;
      line-height: 39px;
      text-align: center;
      text-transform: capitalize;
      color: #00072d;
      margin-bottom: 90px;
      padding: 0 150px;
    }
  }
}

.empty__result-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #00072d;
}

.empty__result-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 157.4%;
  text-align: center;
  color: #797979;
}

.empty__result-not {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #263238;
}

.table__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: $primary-color;
}

.table__cell {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #0a2540;
  white-space: pre;
}

@media (max-width: 1300px) {
  .profile {
    &__nav {
      width: 100%;

      &-item {
        &-text {
          font-size: 12px;
        }
      }
    }

    &__main {
      width: 100%;
    }
  }
}

@media (max-width: 700px) {
  .profile {
    padding-bottom: 0;
    &__title {
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 32px;
    }
  }

  .modal {
    &__block {
      button {
        margin-bottom: 20px;
      }

      &-title {
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        padding: 0 50px;
      }
    }
  }

  .profile {
    padding: 80px 0px 0px;

    &__title {
      padding-left: 15px;
    }
  }
}
