@import "assets/css/variables.scss";

.home__review {
  padding: 100px 90px 100px;

  &-border {
    opacity: 0.5;
    border-bottom: 1px solid #00072d;
    width: 73%;
  }
}

.review__comment {
  background-color: #ffffff;
  border-radius: 8px;
  height: 220px;
  max-width: 604px;
  padding: 35px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-text {
    max-height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    white-space: pre-wrap;

    p {
      font-family: "Inter";
      font-weight: 400;
      font-size: 16px;
      line-height: 23px;
      color: #172a14;
      opacity: 0.7;
    }
  }

  &-user {
    display: flex;
    align-items: center;
  }

  &-img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    position: relative;
    margin-right: 20px;

    img:first-child {
      width: 100%;
      border-radius: 50%;
    }

    img:last-child {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: -15px;
    }
  }

  &-info {
    h4 {
      font-family: "Inter";
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #172a14;
      margin-bottom: 6px;
    }

    p {
      font-family: "Inter";
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #172a14;
      opacity: 0.6;
    }
  }

  &-controls {
    position: absolute;
    top: -12px;
    right: 5%;

    &:first-child {
      margin-right: 60px;
    }

    button {
      background: none;
      border: none;
    }

    button:hover {
      path {
        fill: $primary-color;
        opacity: 1;
      }
    }
  }

  &-pagination {
    position: absolute;
    top: -5px;
    left: 6%;
    display: flex;
    align-items: center;
  }

  &-dot {
    width: 8px;
    height: 8px;
    background: #f75c03;
    opacity: 0.5;
    border-radius: 3px;
    margin: 0 2px;

    &-active {
      width: 17px;
      opacity: 1;
    }
  }
}

@media (max-width: 1000px) {
  .review__comment {
    width: 318px;
    height: 302px;

    &-text {
      max-height: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 6;
      white-space: pre-wrap;
  
      p {
        font-family: "Inter";
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #172a14;
        opacity: 0.7;
      }
    }
  }

  .home__review {
    padding: 80px 20px 100px;
  }
}

@media (max-width: 500px) {
  .home__review {
    padding: 0px 20px 0px;
  }
}
