@import "assets/css/variables.scss";

.coreinput {
  background: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  font-family: "Nunito";
  font-weight: 400;
  font-size: 20px;
  line-height: 17px;
  color: #797979;
  padding: 25px;
  margin-top: 17px;
  width: 100%;

  &-error {
    border: 1px solid #fa3e3e;
  }

  &:focus {
    border: 1px solid $primary-color !important;

    background: rgba(247, 92, 3, 0.17);

    input {
      background: rgba(247, 92, 3, 0.17) !important;
    }
  }

  &:hover {
    border: 1px solid $primary-color !important;
  }

  &-label {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-transform: capitalize;
    color: #242331;
    width: 100%;
  }
}

.ant-input-prefix {
  margin-top: 4px !important;
}

.ant-picker-cell-inner {
  &::before {
    border: none !important;
  }
}

.ant-picker-cell-range-hover-start.ant-picker-cell-in-view {
  & .ant-picker-cell-inner {
    &::after {
      content: none !important;
    }
  }
}

.ant-picker-cell-range-start.ant-picker-cell-in-view {
  &::before {
    background: none !important;
  }

  & .ant-picker-cell-inner {
    background: $primary-color !important;
    color: #ffffff !important;
  }
}

.ant-picker-cell-range-end.ant-picker-cell-in-view {
  &::before {
    background: none !important;
  }

  & .ant-picker-cell-inner {
    background: $primary-color !important;
    color: #ffffff !important;
  }
}

.ant-picker-cell-in-range.ant-picker-cell-in-view {
  &::before {
    background: none !important;
  }

  & .ant-picker-cell-inner {
    background: $primary-color !important;
    color: #ffffff !important;
  }
}

@media (max-width: 1000px) {
  .coreinput {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
