@import "assets/css/variables.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 52px 16px 40px;
  background: #ffffff;
  box-shadow: 3px 6px 16px rgba(247, 92, 3, 0.06);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  position: sticky;
  z-index: 999;
  top: 0;

  &__links {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  &__link {
    color: $text-color !important;
    font-size: 18px;
    margin: 0 33px;
  }

  &__link:hover {
    color: $primary-color !important;
  }

  &__link-active {
    color: $primary-color !important;
  }

  &__button-lang {
    color: #000 !important;
    padding: 12px 15px;
    font-size: 16px;
    font-weight: 500;
  }

  &__menu-btn {
    width: 40px !important;
    height: 40px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    padding: 0 !important;
    display: none !important;
  }

  &__user {
    position: relative;

    &-menu {
      background: #ffffff;
      border: 1px solid rgba(233, 236, 237, 0.9);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      position: absolute;
      top: 40px;
      width: 120%;

      & p:first-child {
        font-family: "Inter";
        font-synthesis: normal;
        font-weight: 400;
        font-size: 18px;
        color: #000000;
        padding: 15px 20px;
        cursor: pointer;
      }

      & p:last-child {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #d81a1a;
        padding: 15px 20px;
        border-top: 0.5px solid rgba(0, 0, 0, 0.15);
        cursor: pointer;
      }

      & p:hover {
        background-color: #c7c7c7;
        border-radius: 8px;
      }
    }

    &-name {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      color: $secondary-color;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }
}

.mobile__menu {
  position: absolute;
  width: 0;
  height: 100vh;
  z-index: 9999;
  background-color: #ffffff;
  top: 0;
  right: 0;
  transition: all 1s;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &-exit {
    border: none;
    background: none;
  }

  &-link {
    font-weight: 500;
    color: $text-color !important;
    font-size: 19px;
    margin: 0 33px;
  }

  &-link-active {
    font-weight: 600;
    color: $primary-color !important;
    font-size: 19px;
    margin: 0 33px;
  }

  &-link:hover {
    color: $primary-color !important;
  }

  &-text {
    color: $secondary-color !important;
  }

  &-socials:hover {
    filter: invert(45%) sepia(94%) saturate(2201%) hue-rotate(354deg)
      brightness(92%) contrast(112%) !important;
  }

  &-lang {
    background: none;
    border: none;
  }

  &-lang article {
    color: $secondary-color !important;
  }

  &-lang article:hover {
    color: $primary-color !important;
  }
}

.mobile__menu.active {
  width: 100vw;
  transition: all 1s;
}

.mobile__user {
  position: absolute;
  width: 0;
  height: 100vh;
  z-index: 9999999999999999;
  top: 0;
  right: 0;
  transition: width 1s;
  overflow: hidden;

  &-top {
    width: 100%;
    background-color: #ffffff;
    border-radius: 16px 0px 0px 16px;
    padding: 35px 40px;
    overflow-x: hidden;
  }

  &-bottom {
    width: 100%;
    height: calc(100vh - 90px);
    background-color: #ffffff;
    border-radius: 16px 0px 0px 16px;
    padding: 60px 10px 0;
    overflow-x: hidden;

    & .profile__nav {
      margin-right: 0 !important;
      width: 275px;
    }
  }

  &-exit {
    position: absolute;
    top: 60px;
    right: 310px;
  }
}

.mobile__user.active {
  width: 292px;
  transition: width 1s;
}

@media (max-width: 1300px) {
  .header {
    &__links {
      display: none;
    }

    &__menu-btn {
      display: block !important;
    }
  }
}

@media (max-width: 900px) {
  .header {
    padding: 9px 20px 9px 11px;
  }
}

@media (max-width: 600px) {
  .header {
    &__logo {
      width: 121px;
    }

    &__logo img {
      width: 100%;
    }
  }
}
