@import "assets/css/variables.scss";

.howworks {
  padding: 50px 80px 0;
  position: relative;

  &__img {
    width: 100%;
  }
}

@media (max-width: 1400px) {
  .howworks {
    &__img {
      top: -400px;
    }
  }
}

@media (max-width: 1150px) {
  .howworks {
    &__img {
      top: -350px;
    }
  }
}

@media (max-width: 1000px) {
  .howworks {
    padding: 100px 30px 75px;
    position: relative;

    &__img {
      position: absolute;
      top: -300px;
      width: 100%;
    }
  }
}

@media (max-width: 500px) {
  .howworks {
    padding: 0px 30px 0px;
    position: relative;

    &__img {
      position: absolute;
      top: -300px;
      width: 100%;
    }
  }
}
