@import "assets/css/variables.scss";

.rec .rec-slider-container {
  margin: 0 !important;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__info {
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 300px 100px 20px;

    &-title {
      color: #fff;
    }

    &-subtitle {
      color: #fff;
      max-width: 70%;
    }

    button {
      border: 2px solid #fff !important;
      color: #fff !important;
      font-size: 16px !important;
      font-weight: 600 !important;
      border-radius: 16px !important;
    }

    button:hover {
      border: 2px solid #fff !important;
      color: #ffffff !important;
      font-size: 16px !important;
      font-weight: 600 !important;
      background-color: $primary-color !important;
    }
  }

  &__image {
    max-width: 700px;
    object-fit: cover;
    height: 100%;
  }

  &__image img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
}

@media (max-width: 1000px) {
  .intro {
    flex-direction: column;

    &__info {
      width: 100%;
      max-width: none;
      margin-bottom: 56px;
      padding: 100px 50px 20px;

      &-title {
        color: #fff;
        font-size: 22px !important;
      }

      &-subtitle {
        color: #fff;
        font-size: 15px;
        max-width: 100%;
      }

      button {
        font-size: 16px !important;
        font-weight: 600 !important;
        border-radius: 16px !important;
      }

      button:hover {
        border: 2px solid $secondary-color !important;
        color: #ffffff !important;
        font-size: 16px !important;
        font-weight: 600 !important;
        background-color: $secondary-color !important;
      }
    }

    &__image {
      max-width: 548px;
    }

    &__image img {
      width: 100%;
    }
  }
}
